<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="main.css">
<style>
body {
  background-color: rgb(15, 101, 122);
}

h1 {
  color: rgb(255, 255, 255);
  margin-left: 40px;
height: 6000px;
width: 200px;
float: left;
padding: 5px;
line-height: 30px;
text-align: center;
margin-right: 200px;





}
</style>
</head>
<body>

<h1>This is a heading</h1>
<p>This is a paragraph.</p>

</body>
</html> 